body {
    font-family: Arial, sans-serif;
    background-color: #eef2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container h2 {
    background-color: chartreuse;
    text-align: center;
    color: #333;
    margin-top: 0;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.container {
    width: 100%;
    max-width: 800px; /* Increased width to accommodate table */
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container input, .container select, .container textarea {
    padding: 10px;
    margin: 5px 0 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-weight: bold;
}

.container-box {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-item {
    flex: 1;
}

.container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.edit-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: darkblue;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
